<ngb-carousel style="border: 1px solid white;" *ngIf="images" [showNavigationArrows]="false" [pauseOnHover]="false" [interval]=5000 [showNavigationIndicators]="false">
    <ng-template ngbSlide *ngFor="let image of images; let i = index">
        <img class="w-100" id="banner-{{6 - i}}" [src]="image.image" alt="Random slide">
        <div class="carousel-caption" style="background-color: rgba(0,0,0,.7); padding: 5px; border: 1px solid black;">
            <h4 style="background-color: rgba(99,99,99,0.5); color: orange">{{ image.text1 }}</h4>
            <p>{{ image.text2 }}</p>
        </div>
    </ng-template>
</ngb-carousel>