<ngb-carousel *ngIf="images" style="border: 1px solid white;" [showNavigationArrows]="false" [pauseOnHover]="true" [interval]=5000 [showNavigationIndicators]="true">
    <ng-template ngbSlide *ngFor="let image of images; let i = index">
        <img class="w-100" id="image-{{5 - i}}" [lazyLoad]="image.image">
        <div class="carousel-caption" style="background-color: rgba(0,0,0,.7); padding: 5px; border: 1px solid black;">
            <h4 *ngIf="image.text1" style="background-color: rgba(99,99,99,0.5); color: orange">{{ image.text1 }}</h4>
            <p *ngIf="image.text2">{{ image.text2 }}</p>
            <ng-container *ngIf="image.theme">
                <ng-container *ngFor="let project of projects | filterProject: {tema: image.theme} | slice:0:2;">
                    <a class="nav-link" [routerLink]="project.urlProjecte" routerLinkActive="active">{{ project.titol }}</a>
                </ng-container>
            </ng-container>
        </div>
    </ng-template>
</ngb-carousel>
