<div class="ui-container">
  <div class="ui-wrapper">
    <div class="row">
      <div class="col-12">
        <span style="color: #999999">David Martínez Ros - Full Stack Web Developer</span>
      </div>
      <div class="col-12">
        <span style="color:white; font-weight: bold;">davidmartinezros.com</span>
      </div>
      <div class="col-12" style="padding-top: 20px;">
        <a class="entra" (click)="navigateInto()">Enter</a>
      </div>
    </div>
  </div>
  <div class="ui-wrapper-footer row">
    <div class="col-12">
      <a class="footer" href="mailto:davidnezan@gmail.com">Mail <i class="icon fa fa-envelope"></i></a>
      <a class="footer" href="https://www.linkedin.com/in/davidmartinezros/" target="_blank" rel="noopener">Linkedin <i class="icon fa fa-linkedin-square"></i></a>
      <a class="footer" href="http://github.com/davidmartinezros" target="_blank" rel="noopener">Github <i class="icon fa fa-github"></i></a>
    </div>
  </div>
</div>