<div class="container-fluid">
  <section class="timeline">
    <ul>
      <li *ngFor="let experience of experiences">
        <div>
          <time class="job-date" [innerHtml]="experience.dates | safeHtml"></time>
          <time class="job-name" [innerHtml]="experience.title | safeHtml"></time>
          <time class="job-desc" *ngFor="let descItem of experience.description">
            <span [innerHtml]="descItem.value | safeHtml"></span>
            <br/>
          </time>
        </div>
      </li>
    </ul>
  </section>

</div>