<div *ngIf="experiences && experiences.length > 0">
  <div class="container-fluid">
    <section class="timeline">
      <ul>
        <li *ngFor="let e of objectKeys(experiences)">
          <div>
            <time class="job-date"><i class='job-lowlight fa fa-calendar'></i> <span class='job-highlight'>{{ experiences[e].dates }}</span> <i class='job-lowlight fa fa-location-arrow'></i> <span style="font-style: italic">{{ 'in' | translate }}</span> {{ experiences[e].lloc }}</time>
            <time class="job-name"><i class='job-lowlight fa fa-handshake-o'></i> {{ experiences[e].categoria }} <i class='job-lowlight fa fa-location-arrow'></i> <span style="font-style: italic">{{ 'at' | translate }}</span> <a [href]="experiences[e].linkClient | translate" target="_blank">{{ experiences[e].client }}</a></time>
            <time class="job-desc">
              <span *ngFor="let descItem of experiences[e].description">
                <i class='fa fa-circle'></i> <span>{{descItem}}</span>
                <br/>
              </span>
            </time>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>