<div id="section1" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<div class="alert alert-success text-center" *ngIf="authService.user | async">
				<h4 class="mb-0">
					Has iniciado sesión como
					<span style="font-weight: bold">
						{{ (authService.user | async)?.email }} !
					</span>
					<p class="pt-2 mb-0">
						Cantidad de mensajes
						<span class="badge badge-warning">{{ (dashboardContactComponent.messages$ | async)?.length }}</span>
					</p>
				</h4>
			</div>
			<h3>SOBRE MÍ</h3>
			<div class="row mt-5">
				<div class="col-sm-8">
					<div class="text-justify">
						<p class="pt-2">
							Soy David, un Full Stack Developer con amplia experiencia en la ingeniería de sotfware a todos los niveles.
						</p>
						<p>
							Cuento con más de 14 años de experiencia profesional y 6 años de formación universitaria, donde he cursado ingeniería informática e ingeniería multimedia.
						</p>
						<p>
							He participado en grandes proyectos de empresas líderes en Barcelona, como son: la Universidad Pompeu Fabra, la Generalitat de Catalunya, la Diputación de Barcelona, el Banco de Sabadell y Grifols entre muchos otros.
						</p>
						<h4 style="text-align: left !important;">¿Necesitas ayuda para tu proyecto?</h4>
						<p>
							Si buscamos la definición de creatividad en la wiki, veremos que <i>" ... es la capacidad de generar nuevas ideas o conceptos, de nuevas asociaciones entre ideas y conceptos conocidos, que habitualmente producen soluciones originales ... "</i>.
						</p>
						<p>
							<u>Ofrezco una idea</u> : <b>"usar la ingeniería para encontrar la solución original"</b>.
						</p>
						<p>
							Toda mi experiencia y mis altos niveles de creatividad me hacen ser una persona versátil, proactiva, original y resolutiva, que no teme los retos complejos, todo lo contrario, le apasiona resolver acertijos.
						</p>
						<p>
							Publico todos mis trabajos en mi
							<a href="https://github.com/davidmartinezros" target="_blank" rel="noopener">repositorio git</a>.
						</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="mx-auto">
						<img src="assets/images/foto_petita.jpg" class="my-photo" style="border: 1px solid white;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/header.jpg" alt="">
</div>
<div id="section2" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">HABILIDADES</h3>
			<div class="row pb-4">
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/linux.svg" title="Linux">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/unity.svg" title="Unity">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/java.svg" title="Java">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/angular.svg" title="Angular">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/android.svg" title="Android">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/git.svg" title="Git">
				</div>
			</div>
			<hr class="style-one">
			<div class="row skills-font pb-1 pt-4 text-center">
				<div class="col-sm-6">
					<h4>Back-end</h4>
					<p>Java, Spring, Spring-Boot, Hibernate</p>
				</div>
				<div class="col-sm-6">
					<h4>Front-end</h4>
					<p>Angular, Ionic, JSP, Servlet, Bootstrap, HTML, CSS, Javascript</p>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-6">
					<h4>Bases de datos</h4>
					<p>Oracle, SQL, MongoDB</p>
				</div>
				<div class="col-sm-6">
					<h4>Servidores</h4>
					<p>Tomcat, Weblogic, Apache</p>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-6">
					<h4>OS</h4>
					<p>Windows, Linux, Android</p>
				</div>
				<div class="col-sm-6">
					<h4>Gráficos</h4>
					<p>Adobe Photoshop, Gimp, Unity</p>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-12">
					<h4>Utilidades</h4>
					<p>Maven, Git, npm, ng, Postman, Soap-UI</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/keyboard.jpg" alt="">
</div>
<div id="section3" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">EXPERIENCIA</h3>
			<app-experience>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-experience>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/code.jpg" alt="">
</div>
<div id="section4" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-8 col-xl-7 mx-auto">
			<h3 class="pb-5">PROYECTOS</h3>
			<app-projects>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-projects>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/motherboard.jpg" alt="">
</div>
<div id="section5" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">CONTACTO</h3>
			<app-form>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-form>
		</div>
	</div>
</div>