<div id="section1" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<div class="alert alert-success text-center" *ngIf="authService.currentEmail">
				<h4 class="mb-0">
					Has iniciado sesión como
					<span style="font-weight: bold">
						{{ authService.currentEmail }} !
					</span>
				</h4>
			</div>
			<h3 innerHtml ="{{ 'TitleSection1' | translate }}"></h3>
			<div class="row mt-5">
				<div class="col-sm-8">
					<div class="text-justify">
						<p innerHtml="{{ 'Section1Text1' | translate }}"></p>
						<p innerHtml="{{ 'Section1Text2' | translate }}"></p>
						<p innerHtml="{{ 'Section1Text3' | translate }}"></p>
						<h4 style="padding:30px" innerHtml="{{ 'Section1Text4' | translate }}"></h4>
						<p innerHtml="{{ 'Section1Text5' | translate }}"></p>
						<p style="font-size: 20px" innerHtml="{{ 'Section1Text6' | translate }}"></p>
						<div style="border: 1px solid var(--my-blue); margin: auto; width: 80%; padding: 10px;">
									<p>
										<span class='porposal-text'>
											<u>{{ 'Section1Text7.1' | translate }}</u>
										</span>
										<span class='icon-light' style="float: right;">
											<i class='icon fa fa-lightbulb-o'></i>
										</span>
									</p>
									<div style="padding-left: 20px">
										<b class='job-lowlight'>"{{ 'Section1Text7.2' | translate }}"</b>
										<span style="color:var(--my-blue)">= {{ '{' }}</span>
										<div style="padding-left: 20px">
											<b>"{{ 'Section1Text7.3' | translate}}"</b>
										</div>
										<span style="color:var(--my-blue)">{{ '}' }};</span>
									</div>
						</div>
						<p style="margin-top: 20px" innerHtml="{{ 'Section1Text8' | translate }}"></p>
						<h4 style="padding:30px" innerHtml="{{ 'Section1Text9' | translate }}"></h4>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="mx-auto" style="text-align: center">
						<img lazyLoad="assets/images/foto.jpg" class="my-photo" title="David Martínez Ros">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" lazyLoad="assets/images/header.jpg" alt="">
</div>
<div id="section2" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 innerHtml ="{{ 'TitleSection2' | translate }}"></h3>
			<div class="row pb-4">
				<div class="col-sm-2 mx-auto skill-logo">
					<img lazyLoad="../../assets/images/linux.svg" title="Linux">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<img lazyLoad="../../assets/images/unity.svg" title="Unity">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<img lazyLoad="../../assets/images/java.svg" title="Java">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<img lazyLoad="../../assets/images/angular.svg" title="Angular">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<img lazyLoad="../../assets/images/android.svg" title="Android">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<img lazyLoad="../../assets/images/git.svg" title="Git">
				</div>
			</div>
			<hr class="style-one">			
			<div *ngIf="knowledges">
				<div *ngFor="let k of knowledges | keys; let i = index">
					<div class="row text-center bar-rating" *ngIf="i%2===0">
						<div class="col-6 bar-rating-group-main">
							<div *ngIf="knowledges[i]" class="container bar-rating-group">
								<h4 innerHtml="{{ knowledges[i].group }}"></h4>
								<hr class="style-three">
								<div *ngFor="let k of knowledges[i].list | keys; let j = index">	
									<div class="row">
										<div class="col-12 bar-rating-theme">
											<u>{{ knowledges[i].list[j].theme }}</u>
										</div>
										<div class="col-12 bar-rating-value">
											<bar-rating [(rate)]="knowledges[i].list[j].value" [max]="5" theme="fontawesome-o" [readOnly]="true"></bar-rating>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-6 bar-rating-group-main">
							<div *ngIf="knowledges[i+1]" class="container bar-rating-group">
								<h4 innerHtml="{{ knowledges[i+1].group }}"></h4>
								<hr class="style-three">
								<div *ngFor="let k of knowledges[i+1].list | keys; let j = index">	
									<div class="row">
										<div class="col-12 bar-rating-theme">
											<u>{{ knowledges[i+1].list[j].theme }}</u>
										</div>
										<div class="col-12 bar-rating-value">
											<bar-rating [(rate)]="knowledges[i+1].list[j].value" [max]="5" theme="fontawesome-o" [readOnly]="true"></bar-rating>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" lazyLoad="assets/images/keyboard.jpg" alt="">
</div>
<div id="section3" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 innerHtml ="{{ 'TitleSection3' | translate }}"></h3>
			<app-experience>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-experience>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" lazyLoad="assets/images/code.jpg" alt="">
</div>
<div id="section4" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-8 col-xl-7 mx-auto">
			<h3 innerHtml ="{{ 'TitleSection4' | translate }}"></h3>
			<app-projects>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-projects>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" lazyLoad="assets/images/motherboard.jpg" alt="">
</div>
<div id="section6" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 innerHtml ="{{ 'TitleSection6' | translate }}"></h3>
			<app-form>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-form>
		</div>
	</div>
</div>