<div id="section1" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<div class="alert alert-success text-center" *ngIf="authService.currentEmail">
				<h4 class="mb-0">
					Has iniciado sesión como
					<span style="font-weight: bold">
						{{ authService.currentEmail }} !
					</span>
					<p class="pt-2 mb-0">
						Cantidad de mensajes
						<span class="badge badge-warning">{{ (dashboardContactComponent.messages$ | async)?.length }}</span>
					</p>
				</h4>
			</div>
			<h3 innerHtml ="{{ 'TitleSection1' | translate }}"></h3>
			<div class="row mt-5">
				<div class="col-sm-8">
					<div class="text-justify">
						<p innerHtml="{{ 'Section1Text1' | translate }}"></p>
						<p innerHtml="{{ 'Section1Text2' | translate }}"></p>
						<p innerHtml="{{ 'Section1Text3' | translate }}"></p>
						<h4 style="padding:30px" innerHtml="{{ 'Section1Text4' | translate }}"></h4>
						<p innerHtml="{{ 'Section1Text5' | translate }}"></p>
						<p style="font-size: 20px" innerHtml="{{ 'Section1Text6' | translate }}"></p>
						<div style="border: 1px solid var(--my-blue); margin: auto; width: 80%; padding: 10px;">
									<p>
										<b class='icon-light'>
											<u>{{ 'Section1Text7.1' | translate }}</u>
											<span style="float: right;"><i class='icon fa fa-lightbulb-o'></i></span>
										</b>
									</p>
									<div style="padding-left: 20px">
										<b class='job-lowlight'>"{{ 'Section1Text7.2' | translate }}"</b>
										<span style="color:var(--my-blue)">= {{ '{' }}</span>
										<div style="padding-left: 20px">
											<b>"{{ 'Section1Text7.3' | translate}}"</b>
										</div>
										<span style="color:var(--my-blue)">{{ '}' }};</span>
									</div>
						</div>
						<p style="margin-top: 20px" innerHtml="{{ 'Section1Text8' | translate }}"></p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="mx-auto">
						<img src="assets/images/foto.jpg" class="my-photo" style="border: 1px solid white;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/header.jpg" alt="">
</div>
<div id="section2" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5" innerHtml ="{{ 'TitleSection2' | translate }}"></h3>
			<div class="row pb-4">
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/linux.svg" title="Linux">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/unity.svg" title="Unity">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/java.svg" title="Java">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/angular.svg" title="Angular">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/android.svg" title="Android">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/git.svg" title="Git">
				</div>
			</div>
			<hr class="style-one">
			<div class="row skills-font pb-1 pt-4 text-center">
				<div class="col-sm-6">
					<h4 innerHtml="{{ 'Section2Text1' | translate }}"></h4>
					<p innerHtml="{{ 'Section2Text2' | translate }}"></p>
				</div>
				<div class="col-sm-6">
					<h4 innerHtml="{{ 'Section2Text3' | translate }}"></h4>
					<p innerHtml="{{ 'Section2Text4' | translate }}"></p>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-6">
					<h4 innerHtml="{{ 'Section2Text5' | translate }}"></h4>
					<p innerHtml="{{ 'Section2Text6' | translate }}"></p>
				</div>
				<div class="col-sm-6">
					<h4 innerHtml="{{ 'Section2Text7' | translate }}"></h4>
					<p innerHtml="{{ 'Section2Text8' | translate }}"></p>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-6">
					<h4 innerHtml="{{ 'Section2Text9' | translate }}"></h4>
					<p innerHtml="{{ 'Section2Text10' | translate }}"></p>
				</div>
				<div class="col-sm-6">
					<h4 innerHtml="{{ 'Section2Text11' | translate }}"></h4>
					<p innerHtml="{{ 'Section2Text12' | translate }}"></p>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-12">
					<h4 innerHtml="{{ 'Section2Text13' | translate }}"></h4>
					<p innerHtml="{{ 'Section2Text14' | translate }}"></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/keyboard.jpg" alt="">
</div>
<div id="section3" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5" innerHtml ="{{ 'TitleSection3' | translate }}"></h3>
			<app-experience>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-experience>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/code.jpg" alt="">
</div>
<div id="section4" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-8 col-xl-7 mx-auto">
			<h3 class="pb-5" innerHtml ="{{ 'TitleSection4' | translate }}"></h3>
			<app-projects>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-projects>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/motherboard.jpg" alt="">
</div>
<div id="section5" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5" innerHtml ="{{ 'TitleSection5' | translate }}"></h3>
			<app-form>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-form>
		</div>
	</div>
</div>