<div class="container-fluid col-sm-8">
	<form [formGroup]="rForm" (ngSubmit)="addMessage(rForm.value)">
		<div class="form-row">
			<div class="form-group col-sm-6">
				<input type="email" class="form-control" id="form-email" placeholder="{{ 'FormField1' | translate }}" formControlName="email">
				<div class="alert alert-danger" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">{{ 'FormFieldDesc1' | translate }}</div>
			</div>
			<div class="form-group col-sm-6">
				<input type="text" class="form-control" id="phone" placeholder="{{ 'FormField2' | translate }}" formControlName="phone">
				<div class="alert alert-danger" *ngIf="!rForm.controls['phone'].valid && rForm.controls['phone'].touched">{{ 'FormFieldDesc2' | translate }}</div>
			</div>
		</div>
		<div class="form-group">
			<textarea class="form-control" id="text" rows="8" placeholder="{{ 'FormField3' | translate }}" formControlName="text"></textarea>
			<div class="alert alert-danger" *ngIf="!rForm.controls['text'].valid && rForm.controls['text'].touched">{{ 'FormFieldDesc3' | translate }}</div>
		</div>
		<div class="text-right">
			<button type="submit" class="btn btn-primary btn-footer" [disabled]="!rForm.valid">{{ 'FormButton' | translate }}</button>
		</div>
	</form>
</div>