.ribbon {
    position: absolute;
    right: -6px;
    top: -6px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.ribbon-ionic span {
    color: white;
    background: #498aff;
}

.ribbon-ionic span::before {
    border-left: 3px solid #498aff;
    border-top: 3px solid #498aff;
}

.ribbon-ionic span::after {
    border-right: 3px solid #498aff;
    border-top: 3px solid #498aff;
}

.ribbon-java span {
    color: #f8971d;
    background: #58839f;
}

.ribbon-java span::before {
    border-left: 3px solid #58839f;
    border-top: 3px solid #58839f;
}

.ribbon-java span::after {
    border-right: 3px solid #58839f;
    border-top: 3px solid #58839f;
}

.ribbon-black span {
    color: white;
    background: black;
}

.ribbon-black span::before {
    border-left: 3px solid rgb(45, 45, 45);
    border-top: 3px solid rgb(45, 45, 45);
}

.ribbon-black span::after {
    border-right: 3px solid rgb(45, 45, 45);
    border-top: 3px solid rgb(45, 45, 45);
}
.ribbon-angular span {
    color: white;
    background: #e62a39;
}

.ribbon-angular span::before {
    border-left: 3px solid #c1bbbf;
    border-top: 3px solid #c1bbbf;
}

.ribbon-angular span::after {
    border-right: 3px solid #c1bbbf;
    border-top: 3px solid #c1bbbf;
}
.ribbon-unity span {
    color: black;
    background: white;
}

.ribbon-unity span::before {
    border-left: 3px solid black;
    border-top: 3px solid black;
}

.ribbon-unity span::after {
    border-right: 3px solid black;
    border-top: 3px solid black;
}

.ribbon-googletrends span {
    color: #fbbc05;
    background: #34a853;
}

.ribbon-googletrends span::before {
    border-left: 3px solid #ea4335;
    border-top: 3px solid #ea4335;
}

.ribbon-googletrends span::after {
    border-right: 3px solid #4285f4;
    border-top: 3px solid #4285f4;
}