.overlay-up-icon-div {
  top: -25px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.overlay-up-icon {
  color: var(--second-color);
  font-size: 50px;
}

.overlay-up-icon:hover {
  color: var(--my-blue);
}

.icon {
  font-size: 24px;
  margin-right: 25px;
}

footer {
  background-color: var(--footer-color);
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  padding-top: 60px;
  height: 230px;
  font-size: 13px !important;
  letter-spacing: 1px !important;
  font-family: "Lato", Calibri, Arial, sans-serif;
}

footer a, .copyrights {
  color: var(--white-text-color);
  padding-bottom: 15px;
}

footer a:hover {
  color: var(--second-color);
  text-decoration: none;
}

.copyrights, .contact-text {
  padding-left: 5px;
  padding-right: 5px;
}

.rights-text, .contact-text {
  font-family: "Lato", Calibri, Arial, sans-serif;
  color: #788699;
}