/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575px) {
    .card {
        margin-bottom: 15px;
    }
    .card-deck {
        padding-bottom: 0px !important;
    }
    .scale-in-ver-center {
        display: none;
    }
    .skill-logo {
        padding-bottom: 10px;
    }
}
