.navbar {
  font-size: 13px !important;
  font-family: 'Open Sans', sans-serif !important;
  background-color: var(--navbar-color);
  letter-spacing: 2px;
  font-weight: 400;
  padding: 0px;
}

.navbar li a {
  color: var(--white-text-color) !important;
  line-height: 34px;
}

.navbar li select {
  color: var(--white-text-color) !important;
  line-height: 34px;
}

.navbar li a:hover, li a.active {
  background-color: var(--navbar-hover-color) !important;
  box-shadow: inset 0 -4px 0 0 var(--second-color);
}

.barra-menu {
  margin-right: 0px;
  width: 97%;
}

.margin-auto {
  margin: auto;
}

.margin-auto select {
  background-color: var(--navbar-color) !important;
  border: 1px solid rgba(255,255,255,.1);
  color: white;
  font-size: 11px !important;
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 2px;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: .25rem; 
}

.margin-auto select:hover, .margin-auto select:active, .margin-auto select:focus {
  border: 1px solid var(--second-color);
  background-color: var(--navbar-hover-color) !important;
}

.musicDiv {
  border: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.music button {
  border: 1px solid rgba(255,255,255,.1);
  background: var(--navbar-color);
  color: rgba(255,255,255,.5);
  border-radius: .25rem;  
}

.music button:hover, .music button:active, .music button:focus {
  border: 1px solid var(--second-color) !important;
  background-color: var(--navbar-hover-color) !important;
}

.navbar-brand {
  padding: 0px;
  height: auto;
  cursor: pointer;
  margin-right: auto;
}

.navbar-toggler {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 14px;
  /*border: 1px solid var(--second-color);*/
}
.blinker {
  animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  color: var(--white-text-color);
  font-size: 15px;
}

@keyframes blinker {
  to {
    opacity: 0;
  }
}

.text {
  color: var(--second-color);
  font-size: 15px;
}

.dropdown-menu {
  background-color: var(--navbar-color);
  min-width: 200px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: default;
}

.fa-sign-in {
  vertical-align: middle;
  font-size: 20px;
  padding-bottom: 2px;
}

.fa-circle {
  vertical-align: middle;
  font-size: 5px !important;
  color: var(--second-color);
}

.dropdown {
  cursor: pointer;
}

.nav-tabs > li > a {
  color: var(--white-text-color) !important;
}

.nav-tabs {
  border-color: var(--second-color) !important;
}

.nav-tabs > li > a.active, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:focus {
  color: var(--second-color) !important;
  border-color: var(--second-color) !important;
}

.paddings-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
